@font-face {
    font-family: 'novecentosanswide';
    src: url('../fonts/novecentosanswide-normal-webfont.eot');
    src: url('../fonts/novecentosanswide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-normal-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-normal-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-normal-webfont.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'novecentosanswide';
    src: url('../fonts/novecentosanswide-bold-webfont.eot');
    src: url('../fonts/novecentosanswide-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-bold-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-bold-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-bold-webfont.svg#novecentosanswidebold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'novecento_sans_widebook';
    src: url('../fonts/novecentosanswide-book-webfont.eot');
    src: url('../fonts/novecentosanswide-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-book-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-book-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-book-webfont.svg#novecento_sans_widebook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'novecento_sans_widemedium';
    src: url('../fonts/novecentosanswide-medium-webfont.eot');
    src: url('../fonts/novecentosanswide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentosanswide-medium-webfont.woff') format('woff'),
         url('../fonts/novecentosanswide-medium-webfont.ttf') format('truetype'),
         url('../fonts/novecentosanswide-medium-webfont.svg#novecento_sans_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



body,
html {height: 100%;}
body{
	margin:0;
	color:#a4a7ac;
	font:18px Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none; 
}
img{border-style:none; vertical-align: top;}
a{text-decoration:none; color:#6e6e6e;}
a:hover{text-decoration:underline;}
#wrapper{
	width:100%;
	height: 100%;
	display:table;
}
.wrapper-holder {
	width:100%;
    display:table-row;
    background: #50af6f;
}
.wrapper-holder.grey{background: #28292b;}
#header {
	max-width: 1170px;
	margin: 0 auto;
	padding: 69px 0 50px;
	position:relative;
}
.menu_trigger{
	width: 31px;
	height: 31px;
	right:0;
	text-indent: -9999em;
	display: none;
	top: 5px;
	position: absolute;
}
.logo {
	text-align:center;
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #fff;
	font-size: 72px;
	line-height: 74px;
	display: block;
	text-transform: uppercase;
	margin: 85px 0 23px;
}
#nav {
	position: relative;
	display: table;
	margin: 0 auto 22px;
	padding: 0 0 0 10px;
}
#nav ul {
	text-align: center;
}
#nav ul li {
	float: left;
	padding: 0 0 0 60px;
}
#nav ul li:first-child{padding: 0;}
#nav ul a {
	color: #aeecc2;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 0 10px;
	border-bottom: 4px solid #62bb7f;
	font-family: 'novecentosanswide';
	font-weight: normal;
}
#nav ul a:hover,#nav ul a.active{
	color: #fff;
	border-bottom: 4px solid #fff;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
h2.slogan{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'novecento_sans_widebook';
	font-size: 22px;
	line-height: 32px;
	color: #aeecc2;
	padding: 34px 0 50px 0;
	background: url(../images/slogan_bg.gif) no-repeat 50% 0;
}
/*main
 */
#main{
	max-width: 1170px;
	margin: 0 auto;
	padding: 93px 0 76px;
	position:relative;
	background: url(../images/icon_header.png) no-repeat 50% 0;
}
#main h2{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	color: #fff;
	margin: 0 0 81px;
}

.box_timeline ul li .date span{
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	display: block;
	text-align: center;
	padding: 15px 0 0 0;
}
.box_timeline h3{
	font-family: 'novecento_sans_widemedium';
	color: #50af6f;
	font-size: 14px;
	line-height: 16px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}
.box_timeline p{
	font-family: Arial, Helvetica, sans-serif;
	color: #a4a7ac;
	font-size: 16px;
	line-height: 18px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}
/*skills*/
#main .skills_holder h2{text-align: left;margin: 0 0 40px;}
.skills_holder{
	width: 100%;
	overflow: hidden;
	margin: 0 0 40px;
}
.skills_holder .column {
	width: 470px;
	float: left;
	margin: 0 10px 0 0;
}
.skills_holder .column.column-add {
	float: right;
	margin: 0;
}
.progress{
	overflow: hidden;
	width: 100%;
	margin: 20px 0 3px 0;
}
.progress li{
	overflow: hidden;
	height: 43px;
	line-height: 43px;
	background: #46484c;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	margin: 0 0 27px;
}
.progress li span{
	background: #50af6f;
	color: #fff;
	text-transform:uppercase;
	display: block;
	font-family: 'novecentosanswide';
	font-weight: normal;
	font-size: 18px;
	padding: 0 0 0 20px;
}
.progress li span.analytical{width: 65%;}
.progress li span.writing{width: 70%;}
.progress li span.presentation{width: 80%;}
.progress li span.collaborative{width: 85%;}
.progress li span.creativity{width: 75%;}
.progress li span.flexibility{width: 65%;}
.progress li span.photoshop{width: 60%;}
.progress li span.filmora{width: 65%;}
.progress li span.powerpoint{width: 75%;}

.plagin_list{
	width: 100%;
	overflow: hidden;
	margin: 0 0 65px;
}

/*contact, achievements*/
.clear{clear: both;}
.images_holder{
	float: left;
	margin:5px 130px 0 0;
	width: 370px;
}
.images_holder img{
	width: 100%;
	height: auto;
	display: inline;
}
.box_contact{
	overflow:hidden;
	margin: 54px 0 0 0;
}
.box_contact span{
	color: #fff;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	display: block;
	margin: 0 0 55px;
	padding: 5px 0 18px 80px;
}
.box_contact span.email{background: url(../images/icon_email2.png) no-repeat;}
.box_contact span.phone{background: url(../images/icon_phone.png) no-repeat;}
.box_contact span.address{background: url(../images/bg_timeline_c.png) no-repeat;}
/*footer
 */
#footer {
    width:100%;
    overflow:hidden;
    display:table-footer-group;
    background:#fff;
}
.footer-content {
	max-width: 1170px;
	margin: 0 auto;
	padding: 45px 0 20px;
	color: #a5a5a5;
}

.footer-content p{
	font:18px/20px Arial, Helvetica, sans-serif;
	display: block;
	text-align: center;
	color: #929c95;
}


@media (-webkit-min-device-pixel-ratio:2) ,(min--moz-device-pixel-ratio:2),(-o-min-device-pixel-ratio:2/1),(min-device-pixel-ratio:2),(min-resolution:192dpi),(min-resolution:2dppx){
	#main {
		background-image: url(../images/icon_header@x2.png);
		background-size:114px 46px;
	}

	.slogan{
		background-image: url(../images/slogan_bg@x2.gif);
		background-size:80px 4px;
	}

}